<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton>
        <button (click)='return()'><i class="icon-fanhui iconfont"></i></button>
        <ion-title>登录</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class='login'>

    <ul class='login_main'>

        <li>
            <div class='item_1'><i class='icon-my iconfont'></i></div>
            <div class='item_2'>
                <input type="text" #ph placeholder="手机号/用户名/邮箱" (keyup)='phone_key(ph.value)' name='phone' [(ngModel)]='phone' required>
                <i class='iconfont icon-shanchu' *ngIf='phone_icon' (click)='phone_hide()'></i>
            </div>
            <div class="clear"></div>
        </li>


        <li>
            <div class='item_1'><i class='icon-mima iconfont'></i></div>
            <div class='item_2'>
                <input [type]='pass' #ps placeholder="密码6-20位(字母+数字)" required (keyup)='password_key(ps.value)' name='psw' [(ngModel)]='psw' style='width:72%'>
                <i [ngClass]="{true:'iconfont icon-display-copy',false:'iconfont icon-baomi'}[flag1]" (click)='passwordCtrl()'></i>
                <i class='iconfont icon-shanchu' *ngIf='password_icon' (click)='password_hide()'></i>
            </div>
            <div class="clear"></div>
        </li>


        <li>
            <div class='item_1'><i class='icon-gengduoactive iconfont'></i></div>
            <div class='item_2'>
                <input type="number" #yz placeholder="验证码" required maxlength="4" name='yzm' [(ngModel)]='yzm' style='width:65%;'>
                <img [src]='verBase64' (click)="refreshCode()">
            </div>
            <div class="clear"></div>
        </li>
    </ul>

    <button class='login_button' (click)='login(ph.value,ps.value,yz.value)' [disabled]='login_state'>立即登录</button>

    <div class='login_zhaohui' (click)='findPassword()'>找回密码</div>
    <div class='login_zhanghu' (click)='register()'>注册账户</div>

    <!--<div class="label_list">
            <label class="item1 item-input">
      <i class="icon icon-my iconfont"></i>
      <input value="" id="ph" type="text" placeholder="手机号/用户名/邮箱" ng-model="accountName" ng-keydown="yz2(accountName)" ng-focus="YZ2()" ng-blur="yZ2()" maxlength="11">
      <i on-tap="clean2()" id="clean2"  style="font-size: 14px;" class="iconfont icon-shanchu"></i>
    </label>
            <label class="item1 item-input">
      <i class="icon icon-mima iconfont"></i>
      <div style="float: left;width: 80%;" id="pass">
        <input  value="" id="pw" type="password" placeholder="密码6-20位(字母+数字)" ng-model="password" ng-change="yz()" ng-focus="YZ()" ng-blur="yZ()" maxlength="20">
      </div>
      <i on-tap="clean()" id="clean" style="font-size: 14px;" class="iconfont icon-shanchu"></i>
      <i on-tap="CheckStyle()" ng-class="{true:'icon-display-copy',false:'icon-baomi'}[flag1]" class="iconfont"></i>
    </label>
    <label class="item1 item-input">
            <i class="icon icon-gengduoactive iconfont"></i>
            <input type="text" placeholder="验证码" ng-model="loginVerNum"  maxlength="4">
            <img ng-src="{{verBase64}}" style="width: 150px;height: 50px" on-tap="refreshCode()">-->

    <!--</label>-->
    <!--<div class="padding tj_btn mt_8">
                <button class="button button-org" on-tap="doLogin(accountName,password,loginVerNum)">立即登录</button>
            </div>
            <div class="login_btn2 ">
                <a on-tap="findPassword()" class="ffl">找回密码</a>
                <a on-tap="register()" class="ffr">注册账户</a>
            </div>-->
    <!--</div>-->

</ion-content>