<ion-header nobody>


    <ion-navbar>
        <ion-title toptitle>投资</ion-title>
    </ion-navbar>

    <!-- 网络连接失败 -->
    <network-fail *ngIf='!net'></network-fail>

    <ion-toolbar class='topframe'>
        <ion-segment [(ngModel)]="icons" class="index">
            <ion-segment-button value="2" class='topbuttom'>
                理财项目
            </ion-segment-button>
            <ion-segment-button value="3" class='topbuttom'>
                债权转让
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div class='nav'>
        <ion-grid>
            <ion-row>
                <ion-col class="navtitle" col-3>
                    <ion-icon class='icon'>
                        <img src='assets/image/icon11.png' />
                    </ion-icon>
                    <p class='navtitle-left'>银行托管</p>
                </ion-col>
                <ion-col class="navtitle" col-3>
                    <ion-icon class='icon'>
                        <img src='assets/image/icon8.png' />
                    </ion-icon>
                    <p>100元起投</p>
                </ion-col>
                <ion-col class="navtitle" col-3>
                    <ion-icon class='icon'>
                        <img src='assets/image/icon9.png' />
                    </ion-icon>
                    <p>本息垫付</p>
                </ion-col>
                <ion-col class="navtitle" col-3>
                    <ion-icon class='icon'>
                        <img src='assets/image/icon10.png' />
                    </ion-icon>
                    <p class='navtitle-right'>持90天可转</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>
 
    <!-- 网络连接失败 -->
    <network-show *ngIf='!net' (willEnt)='willEnt()'></network-show>

    <div [ngStyle]="{'display':net?'block':'none'}">
        <invest-list [datas]="icons" [page]="type" (search)="return($event)"></invest-list>

        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="size_jugde">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading..." class='logo'>
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>

        <div *ngIf="!size_jugde" class='foot'>
            <p>没有更多数据...</p>
        </div>

    </div>
</ion-content>