<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton>
        <button (click)='return()'><i class="icon-fanhui iconfont"></i></button>
        <ion-title>修改密码</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
      <div class="register_box">
        <span>原密码</span>
        <input [type]="type1" class="new_phone" (keyup)="jz1(originalPassword)" placeholder="输入原登录密码" [(ngModel)]='originalPassword' name="originalPassword"  required>
        <i [ngClass]="{true:'iconfont icon-display-copy icon_1',false:'iconfont icon-baomi icon_1'}[isActive1]" (click)='Active1()'></i>
        <i class='iconfont icon-shanchu icon_2' (click)='clean1()' *ngIf='clean_btn1'></i>
        <i class='icon_2' (click)='clean1()' *ngIf='!clean_btn1'></i>
        <div class="clear"></div>
    </div>

    <div class="register_box">
        <span>新密码</span>
        <input [type]="type2" class="new_phone" (keyup)="jz2(newPassword)" placeholder="6-20位(字母+数字)" [(ngModel)]='newPassword' name="newPassword" required>
        <i [ngClass]="{true:'iconfont icon-display-copy icon_1',false:'iconfont icon-baomi icon_1'}[isActive2]" (click)='Active2()'></i>
        <i class='iconfont icon-shanchu icon_2' (click)='clean2()' *ngIf='clean_btn2'></i>
        <i class='icon_2' (click)='clean2()' *ngIf='!clean_btn2'></i>
        <div class="clear"></div>
    </div>

     <div class="register_box">
        <span>确认密码</span>
        <input [type]="type3" class="new_phone" (keyup)="jz3(confirmPassword)" placeholder="请确认新登陆密码" [(ngModel)]='confirmPassword' name="confirmPassword"  required>
        <i [ngClass]="{true:'iconfont icon-display-copy icon_1',false:'iconfont icon-baomi icon_1'}[isActive3]" (click)='Active3()'></i>
        <i class='iconfont icon-shanchu icon_2' (click)='clean3()' *ngIf='clean_btn3'></i>
        <i class='icon_2' (click)='clean3()' *ngIf='!clean_btn3'></i>
        <div class="clear"></div>
    </div>

   <button class="button" (click)='submitPassword(originalPassword,newPassword,confirmPassword)'  [disabled]='submit_phone'>确定</button>

   <div class="wangji" (click)='modifyPassword()'>忘记密码?</div>
</ion-content>
