page-me {
  .myaccount {
    background: #EDEDED;
  }

  // 顶部标题
  .toolbar-background {
    background: #ff6f00;
  }

  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border: 0;
  }

  .toolbar-title,.toolbar-title-ios {
    color: #fff;
    font-weight: normal;
  }
  /*头部*/
  .myaccount_head {
    background: linear-gradient(to bottom,#ff6f00,#ff9700);
    padding-bottom: r(30px);
  }

  .myaccount_head .item_1 {
    font-size: r(44px);
    text-align: center;
    color: #ffffff;
    padding-top: r(73px);
  }

  .myaccount_head .item_2 {
    font-size: r(30px);
    text-align: center;
    color: #ffffff;
    margin-top: r(30px);
    margin-bottom: r(46px);
  }

  .myaccount_head .item_3 {
    width: 100%;
    text-align: center;
  }

  .myaccount_head .item_3 .item {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left;
    height: r(60px);
  }

  .myaccount_head .item_3 .item button {
    width: r(168px);
    margin: 0 auto;
    font-size: r(26px);
    color: #ff6f00;
    border-radius: 8px;
    background: #ffffff;
    height: r(60px);
    line-height: r(60px);
    display: block;
    text-align: center;
  }

  // 箭头,更多
  .more {
    float: right;
    line-height: 100%;
    margin-top: 1%;

    i {
      font-size: r(50px);
    }
  }

  /*充值--提现*/
  .myaccount_content {
    width: 100%;
    padding: 2%;
    background: #ffffff;
  }

  .myaccount_content li {
    font-size: r(24px);
    color: #323232;
    width: 33.3%;
    height: r(76px);
    line-height: r(76px);
    text-align: center;
    float: left;
  }

  .myaccount_content li:after {
    float: right;
    width: 1px;
    height: 100%;
    content: '';
    display: block;
    background: #ededed;
    transform: scaleY(0.5);
  }

  .myaccount_content li:nth-child(3):after {
    height: 0;
  }


  /*主要内容*/
  .myaccount_main {
    width: 100%;
    padding: 0 5%;
    margin-top: r(20px);
    background: #ffffff;
    margin-bottom:r(80px);
  }

  .myaccount_main li {
    width: 100%;
    background: #fff;
    height: r(96px);
    line-height: r(96px);
    border-bottom: 1px solid #ededed;
    font-size: r(26px);

    .left {
      i {
        margin-right: r(24px);
        font-size: r(26px);
      }
      width: 30%;
      float: left;
      height: r(96px);
      line-height: r(96px);
    }

    .center {
      width: 60%;
      float: left;
      text-align: right;
      color: #909090;
      font-size: r(22px);

      span {
        border-radius: r(30px);
        background: #f57c00;
        color: #ffffff;
        display: inline-block;
        height: r(40px);
        // width: r(55px);
        line-height: r(40px);
        text-align: center;
        font-size: r(20px);
        padding: 0 5%;
      }
    }

    .right {
      width: 10%;
      float: right;
      text-align: right;

      i {
        font-size: r(26px);
      }
    }
  }

  /*已登录*/
  .item_a {
    padding-right: 6%;
    font-size: r(24px);
    padding-top: r(44px);
    text-align: center;
    color: #ffffff;
    text-indent: r(48px);

    p {
      display: inline-block;
      position: relative;

      i {
        position: absolute;
        left: r(-30px);
        top: r(-35px);
        font-size: r(40px);
      }
    }
  }

  .item_b {
    font-size: r(60px);
    color: #ffffff;
    text-align: center;
    margin: r(20px) r(30px) r(50px);
    padding-left: r(30px);
  }

  .item_c {
    width: 50%;
    float: left;
    text-align: center;

    .col_1 {
      font-size: r(24px);
      color: #ffffff;
      display: block;
    }

    .col_2 {
      margin-top: r(20px);
      font-size: r(34px);
      color: #ffffff;
    }
  }
  .line {
      border-right: 1px solid #ffd399 ;
  }

  .center_huikuan {
    height: r(76px);
    margin-top:r(10px);
    margin-bottom:r(10px);
    line-height: r(38px);
  }

  .buttons_1 {
    padding: 0 0 0 5% !important;
    color: #fff;
    margin-top: -5%;

    i {
      font-size: r(40px);
    }
  }

  .buttons_2 {
    padding: 0 5% 0 0 !important;
    color: #fff;
    margin-top: -5%;

    i {
      font-size: r(40px);
    }

  }

  /*双乾*/
  .towqq {
      background: #F5D4C8;
      padding:r(20px) 0;
      .twoqq_title{
        width:93%;
        font-size:r(22px);
        padding: 0px r(20px);
        color: #F74B37;
        float:left;
      }
      .twoqq_cha{
        width:7%;
        text-align: center;
        line-height: r(72px);
         font-size:r(24px);
         float:right;
      }
  }
  
  /*.towqq .cl-11 {
      font-size: r(24px);
      padding: 0px r(20px);
      color: #F74B37
  }*/

  .clear {
    clear: both;
  }

  .xiaobiaoti{
    position:absolute; 
    top:r(-5px);
    font-size:r(16px);
    border-radius:50%;
    /*border:1px solid #ccc;*/
    background:red;
    padding:r(6px) r(4px) r(0px) r(8px);
    text-align:center;

  }

}
